.container {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
}
